@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole(Defaults.Auth.DefaultAdminRoleName))
    {
        <a asp-area="Admin" asp-controller="Management" asp-action="Index">Admin Area</a>
    }
    <div style="float: right">
        <a asp-area="Identity" style="display:inline-block" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        <form asp-area="Identity" style="display:inline-block" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Posts", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </div>
}
else
{
    <div style="float: right">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}