@model EasyBlog.Models.Posts.PostListViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["Description"] = "Home Page";
}

@foreach (var post in Model.Posts)
{
    <h2>@post.Title</h2>
    <p>@post.Content</p>
}